// Core variables and mixins
@import "theme/variables";
@import "spectre/variables";
@import "spectre/mixins";

@import "theme/fonts";
@import "theme/mixins";
@import "theme/framework";
@import "theme/typography";
@import "theme/forms";
@import "theme/mobile";
@import "theme/animation";

@import "theme/header";
@import "theme/footer";
@import "theme/menu";

// Extra Skeleton Styling
@import "theme/blog";
@import "theme/onepage";

// Custom modifications
@import "override/pagination";
@import "override/sharer";
@import "override/modules";
@import "override/devblog";

@font-face {
  font-family: "FontAwesome";
  src: url("~/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("~/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("~/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0")
      format("woff2"),
    url("~/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("~/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0")
      format("truetype"),
    url("~/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
