//.modular-features.modular-working {
//  .frame-box {
//    background-color: $gray-color;
//  }
//}

.modular-hero {
  .social-links {
    width: 75%;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 5px;
    a {
      color: $light-color;
    }
  }
}

.modular-about {
  img {
    border-radius: 50%;
    max-width: 170px;
  }
  @media (max-width: 840px) {
    .btn {
      margin-top: 15px;
    }
    .image {
      display: none;
    }
  }

}

.modular-resume {
  .education, .work {
    //margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid $gray-color;
  }
  .header-col {
    h4 {
      text-transform: uppercase;
      font-weight: 300;
      span {
        border-bottom: 3px solid $primary-color;
        padding-bottom: 6px;
      }
    }
  }
  .main-col {
    .item {
      width: 100%;
    }
  }
  .bars {
    .skills {
      margin-top: 75px;
      margin-left: 0;
      list-style: none;
    }
    li {
      position: relative;
      margin-bottom: 60px;
      background: #ccc;
      height: 42px;
      border-radius: 3px;
      .bar-expand {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding-right: 24px;
        background: #313131;
        display: inline-block;
        height: 42px;
        line-height: 42px;
        border-radius: 3px 0 0 3px;
      }
      em {
        position: relative;
        top: -36px;
        font-style: initial;
      }
    }
  }
}