// Sticky Footer solution
body.sticky-footer {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  #page-wrapper {
    flex: 1 0 auto;
  }
}

#footer {
  // color: #acb3c2;
  padding: 1rem $horiz-padding 0;
  text-align: center;
  background: linear-gradient(180deg, rgba(247, 248, 249, 0) 0%, #d2d3d6 100%);
  .hero-certifications {
    img {
      max-width: 80px;
    }
  }
  .copyright {
    ul {
      margin: 0;
      li {
        margin: 0;
        &:before {
          content: "";
        }
      }
    }
  }
}
