/** Blog Listing **/
.language-filter {
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-color-light;
  .chip {
    border: none;
    color: map-get($royal-blue, 600);
    cursor: pointer;
    background: map-get($royal-blue, 200);
    margin-right: 1rem;
    margin-left: 0;
    &.active {
      color: map-get($royal-blue, 50);
      background: map-get($royal-blue, 400);
      text-decoration: none;
    }
  }
}

.modular-postlist {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}

.blog-listing {
  .blog-date {
    font-size: 13px;
  }

  .label {
    margin: 0 2px;
  }
  .blog-tags {
    @include breakpoint(md) {
      text-align: center;
      margin-top: 10px;
    }
  }
}

/** Blog Item **/
.content-title {
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 0.5rem;
  }
}

.content-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $gray-color-light;
  .reading-time {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid $gray-color-light;
    span {
      margin-left: 5px;
    }
  }
  @include breakpoint(md) {
    justify-content: center;
    flex-direction: column;
    .blog-date {
      margin-bottom: 10px;
    }
  }
}

.label {
  font-size: 12px;
  text-transform: uppercase;
}

.blog-listing,
.modular-hero {
  .reading {
    font-size: 13px;
    &:before {
      content: "-";
      margin: 0 10px;
    }
  }
  .taxonomy {
    margin-top: 5px;
    .label {
      margin: 0 5px;
    }
  }
}

.e-content {
  h1 {
    @extend .h2;
  }
  h2 {
    @extend .h3;
  }
  h3 {
    @extend .h4;
  }
  h4 {
    @extend .h5;
  }
  h5 {
    @extend .h6;
  }
  p {
    text-align: justify;
  }
}
