html {
  transition: color 300ms, background-color 300ms, filter 300ms;
}

html[data-theme="dark"] {
  background: $dark-color;
  color: $background-color;
  img,
  .modular-hero,
  .blog-listing .card-image a,
  .vscode-highlight.default-dark {
  }
  .header-dark #header {
    &.scrolled {
    }
  }
  .overlay-dark-gradient .image-overlay {
  }
}

.theme-toggle {
  background: none;
  border: none;
  color: $dark-color;
  padding: 12px 0 7px;
  cursor: pointer;
  svg {
    width: 22px;
    height: 22px;
  }
}

.header-dark {
  #header:not(.scrolled) {
    .theme-toggle {
      color: rgba($light-color, 0.7);
    }
  }
}
