html {
  height: 100%;
  font-size: $html-font-size;
  line-height: $html-line-height;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $font-size;
}

#body-wrapper {
  .container {
    padding: $vert-padding;
  }

  // Fixed Header solution
  .header-fixed & {
    padding-top: $header-height-large;
  }
}

.header-fixed {
  .hero + #start + #body-wrapper {
    padding-top: 0;
  }
}

section.section {
  padding-left: $horiz-padding;
  padding-right: $horiz-padding;
  position: relative;
}

a {
  color: $link-color;
  &:focus,
  &:hover,
  &:active,
  &.active {
    @extend .default-animation;
    color: $detail-color;
  }
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: $link-color;
  }
  &.text-dark:hover {
    color: $detail-color !important;
  }
}

ul {
  &.d-inline-flex {
    margin-left: 0;
    li + li {
      margin-left: 10px;
    }
  }
  &.list-unstyled {
    li {
      list-style: none;
    }
  }
  &.copyright {
    li + li {
      margin-left: 0;
      &:before {
        content: "\2022";
        padding-left: 10px;
        padding-right: 10px;
        color: $primary-color;
      }
    }
    @media (max-width: 840px) {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 0;
      padding-bottom: 10px;
      li + li:before {
        content: none;
      }
    }
  }
}

.social-links {
  font-size: 40px;
  li + li {
    margin-left: 25px !important;
  }
}

.bg-white {
  background-color: $light-color;
}

.label {
  color: $detail-color;
}
