.dropmenu {
  ul {
    white-space: nowrap;
    margin: 0;
    display: flex;

    li {
      position: relative;
      margin: 0;

      a {
        text-decoration: none;
        padding: $dropmenu-vert-padding
          ($dropmenu-horiz-padding + $dropmenu-child-padding)
          $dropmenu-vert-padding $dropmenu-horiz-padding;
        display: block;

        &:hover,
        &:focus,
        &.active {
          color: $dropmenu-hover-text !important;
        }
        &:only-child {
          padding-right: $dropmenu-horiz-padding;
        }
      }

      &:hover {
        & > ul {
          display: block;
          visibility: visible;
        }
      }

      &:last-child {
        a {
          padding-right: 0;
        }
        &::after {
          content: "";
        }
      }
    }

    ul li a:before {
      content: "\f105";
    }
  }

  & > ul > li {
    display: inline-block;
  }

  // Animation options
  &.animated {
    ul li {
      transition:
        background 0.7s,
        color 0.5s;
    }

    ul li:hover > ul {
      opacity: 1;
      transform: translateY(0);
    }

    ul ul {
      transition:
        transform 0.3s,
        opacity 0.5s;
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}
