.mobile-container {
  position: absolute;
  //width: 100%;
  //height: 100%;
  top: 40%;
  left: 0;
  margin: 0 auto;
  z-index: 2;
}

.mobile-logo {
  svg,
  img {
    height: 42px;
    margin-top: 18px;
    margin-left: 1.4rem;

    path {
      fill: $light-color;
    }
  }
}

// Hamburger Menu
.mobile-menu {
  display: none;
  top: 0;
  right: 0;
  z-index: 3;

  .header-fixed & {
    position: fixed;
  }

  @include breakpoint(md) {
    display: block;
  }

  .button_container {
    position: absolute;
    top: 1.3rem;
    right: $horiz-padding;
    height: $mobile-button-height;
    width: $mobile-button-width;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease, top 0.5s ease;

    $bar-offset: $mobile-button-height / 3;

    &:hover {
      opacity: 0.7;
    }

    &.active {
      position: fixed;

      .top {
        transform: translateY($bar-offset) translateX(0) rotate(45deg);
        background: $mobile-color-active;
      }
      .middle {
        opacity: 0;
        background: $mobile-color-active;
      }

      .bottom {
        transform: translateY(-($bar-offset)) translateX(0) rotate(-45deg);
        background: $mobile-color-active;
      }
    }

    span {
      background: $detail-color;
      border: none;
      height: 4px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.35s ease;
      cursor: pointer;

      &:nth-of-type(2) {
        top: $bar-offset;
      }

      &:nth-of-type(3) {
        top: $bar-offset * 2;
      }
    }
  }
}

.mobile-nav-open {
  overflow-y: hidden;
}

.treemenu {
  &.treemenu-root {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    list-style: none;
    margin: 0 0 1px;
    padding: 5px 0;
    line-height: 1.2rem;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    + li {
      border-top: 1px solid $header-text-dark;
    }
    &.tree-empty {
      .toggler {
        display: none;
      }
    }

    a {
      display: block;
      margin-left: 1.2rem;
      font-size: 1rem;
      color: $light-color !important;
      margin: 0;
      font-weight: normal;
      letter-spacing: 0.5px;
      &:hover,
      &:focus,
      &.active {
        color: $primary-color-light !important;
        color: $bg-color !important;
        text-decoration: none;
      }
    }
  }

  ul {
    margin: 0 0 0 1rem;
  }

  .toggler {
    cursor: pointer;
    vertical-align: top;
    font-size: 1.1rem;
    line-height: 1rem;
    padding-left: 5px;
    float: left;

    &:before {
      display: inline-block;
      margin-right: 2pt;
    }
  }

  li.tree-empty > .toggler {
    opacity: 0.3;
    cursor: default;

    &:before {
      content: "\2022";
    }
  }

  li.tree-closed > .toggler:before {
    content: "+";
  }

  li.tree-opened > .toggler:before {
    content: "\2212";
  }
}
