.modular-features {
  text-align: center;

  &.offset-box {
    .frame-box {
      margin: -3rem (-1rem - $layout-spacing) 3rem;
      padding: 1rem 1rem;
      background: $light-color;
      box-shadow: 0 0 75px 0 rgba($dark-color, 0.1);
      &.without-offset-top {
        margin-top: 0;
      }
    }
  }

  &.small {
    .columns {
      margin-top: -1rem;
    }

    .column:hover {
      .feature-icon i {
        color: $primary-color;
      }
    }

    .feature-icon {
      display: block;
      justify-content: left;

      i {
        position: relative;
        display: inherit;
        font-size: 70px;
        margin: 0 auto 1rem;
        transform: none;
        left: auto;
        top: auto;
        color: $gray-color;
        @extend .default-animation;
      }
      h6 {
        text-transform: none;
      }
    }
  }

  .frame-box {
    padding: 3rem 0;

    > p {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .column {
    padding: 1rem;

    &:hover {
      .feature-icon {
        color: $gray-color;
        h6 {
          color: $primary-color;
        }
      }
      .feature-content {
        color: $gray-color-dark;
      }
    }
  }

  .feature-icon {
    font-size: 130px;
    height: 100px;
    color: $gray-color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1rem 0;
    @extend .default-animation;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    h6 {
      background: $light-color;
      line-height: 1;
      z-index: 1;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0;
      display: block;
      color: $gray-color-dark;
    }
  }

  .feature-content {
    color: $gray-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
    font-weight: 100;
  }
}

.modular-text {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .columns.left {
    flex-direction: row-reverse;
  }
}

.modular-about {
  padding-top: 4rem;
  padding-bottom: 4rem;
  // background: $light-color;
  background-color: $bg-color-dark;
  .columns.left {
    flex-direction: row-reverse;
  }
  img {
    border-radius: 50%;
    max-width: 170px;
  }
  @media (max-width: 840px) {
    .btn {
      margin-top: 15px;
    }
    .image {
      display: none;
    }
  }
}
.modular-resume,
.modular-recent,
.modular-popular {
  padding-top: 4rem;
  padding-bottom: 4rem;
  .education,
  .work,
  .other {
    //margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid $gray-color;
  }
  .header-col {
    h4 {
      text-transform: uppercase;
      font-weight: 300;
      span {
        border-bottom: 3px solid $detail-color;
        padding-bottom: 6px;
      }
    }
  }
  .main-col {
    .item {
      width: 100%;
      .padded {
        margin-top: 2rem;
      }
    }
  }
  .bars {
    .skills {
      margin-top: 75px;
      margin-left: 0;
      list-style: none;
    }
    li {
      position: relative;
      margin-bottom: 60px;
      background: #ccc;
      height: 42px;
      border-radius: 3px;
      .bar-expand {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding-right: 24px;
        background: #313131;
        display: inline-block;
        height: 42px;
        line-height: 42px;
        border-radius: 3px 0 0 3px;
      }
      em {
        position: relative;
        top: -36px;
        font-style: initial;
      }
    }
  }
}

.modular-recent {
  // background-color: $bg-color-dark;
  padding-top: 2rem;
}

.modular-popular {
  // background-color: $bg-color-dark;
  // background: $light-color;
  background: $light-color;
  padding-top: 2rem;
}
