.modular-text {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .columns.left {
    flex-direction: row-reverse;
  }
}

.modular-about {
  padding-top: 3rem;
  padding-bottom: 2rem;
  // background: $light-color;
  background-color: $bg-color-dark;
  .columns.left {
    flex-direction: row-reverse;
  }
  img {
    border-radius: 4px;
    max-width: 170px;
  }
  @media (max-width: 840px) {
    .btn {
      margin-top: 15px;
    }
    .image {
      display: none;
    }
  }
}
.modular-resume,
.modular-recent,
.modular-popular,
.modular-postlist {
  padding-top: 4rem;
  padding-bottom: 4rem;
  .education,
  .work,
  .other,
  .skills {
    //margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid $gray-color;
  }
  .header-col {
    h4,
    .h4 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1rem;
      @include breakpoint(md) {
        margin-top: 1rem;
      }
      span {
        border-bottom: 3px solid $detail-color;
        padding-bottom: 6px;
      }
    }
  }
  .main-col {
    .item {
      width: 100%;
      .padded {
        margin-top: 2rem;
      }
    }
  }
  ul.skill-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    li {
      list-style: none;
    }
  }
  .skill {
    @extend .chip;
    border: 1px solid $detail-color;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    max-width: fit-content;
    height: auto;
    padding: 10px 15px;
    svg,
    img,
    i {
      height: 20px;
      width: 20px;
    }
    span {
      margin-left: 10px;
    }
  }
  .columns {
    .item + .item {
      h4 {
        margin-top: 1rem;
      }
    }
  }
}

.modular-recent,
.modular-resume,
.modular-postlist {
  // background-color: $bg-color-dark;
  padding-top: 1.5rem;
}

.modular-popular {
  // background-color: $bg-color-dark;
  // background: $light-color;
  background: $light-color;
  padding-top: 1.5rem;
}
