// Core colors
$primary-color: #303742;
$primary-color-dark: darken($primary-color, 3%);
$primary-color-light: lighten($primary-color, 3%);
$secondary-color: lighten($primary-color, 37.5%);
$secondary-color-dark: darken($secondary-color, 3%) !default;
$secondary-color-light: lighten($secondary-color, 3%) !default;

$detail-color: #6166dc;
$background-color: #f7f8f9;

$royal-blue: (
  50: #F7F7FD,
  100: #EFF0FC,
  200: #D8D9F6,
  300: #C0C2F1,
  400: #9094E7,
  500: #6166DC,
  600: #575CC6,
  700: #3A3D84,
  800: #2C2E63,
  900: #1D1F42,
);

// Gray colors
$dark-color: #303742 !default;
$light-color: #fff !default;
$gray-color: lighten($dark-color, 30%) !default;
$gray-color-dark: darken($gray-color, 30%) !default;
$gray-color-light: lighten($gray-color, 20%) !default;

$border-color: lighten($dark-color, 65%) !default;
$border-color-dark: darken($border-color, 10%) !default;
$border-color-light: lighten($border-color, 8%) !default;
$bg-color: lighten($dark-color, 75%) !default;
$bg-color-dark: darken($bg-color, 3%) !default;
$bg-color-light: $light-color !default;

// Control colors
$success-color: #32b643 !default;
$warning-color: #ffb700 !default;
$error-color: #e85600 !default;

// Other colors
$code-color: #d73e48 !default;
$highlight-color: #ffe9b3 !default;
$body-bg: $background-color;
$body-font-color: lighten($dark-color, 5%) !default;
$link-color: $detail-color;
$link-color-dark: darken($link-color, 10%) !default;
$link-color-light: lighten($link-color, 10%) !default;

// Layout
$horiz-padding: 1rem;
$vert-padding: 2rem 0 2rem;

// Fonts
$min-responsive-font-size: 16px;

// Header
$header-height-large: 4rem;
$header-height-small: 2.3rem;
$header-color-dark: #222;
$header-text-light: $light-color;
$header-text-dark: darken($dark-color, 15%);

// Dropdown Menu
$dropmenu-bg: $light-color;
$dropmenu-hover-text: $primary-color;
$dropmenu-horiz-padding: 20px;
$dropmenu-vert-padding: 7px;
$dropmenu-child-padding: 10px;
$dropmenu-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

// Mobile Menu
$mobile-color-main: $primary-color;
$mobile-color-active: $light-color;
$mobile-color-link: $light-color;
$mobile-button-height: 24px;
$mobile-button-width: 28px;
