// Spectre Overrides
$primary-color: #f06000;
$dark-color: #454d5d;
$light-color: #fff !default;
$gray-color: lighten($dark-color, 40%);
$gray-color-dark: darken($gray-color, 25%);
$border-color: lighten($dark-color, 60%);
$bg-color: lighten($dark-color, 66%);
$body-font-color: lighten($dark-color, 5%);

// Layout
$horiz-padding: 1rem;
$vert-padding: 2rem 0 2rem;

// Fonts
$min-responsive-font-size: 16px;

// Header
$header-height-large: 4rem;
$header-height-small: 2.3rem;
$header-color-dark: #222;
$header-text-light: $light-color;
$header-text-dark: darken($dark-color, 15%);

// Dropdown Menu
$dropmenu-bg: $light-color;
$dropmenu-hover-text: $primary-color;
$dropmenu-horiz-padding: 20px;
$dropmenu-vert-padding: 7px;
$dropmenu-child-padding: 10px;
$dropmenu-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

// Mobile Menu
$mobile-color-main: $primary-color;
$mobile-color-active: #fff;
$mobile-color-link: #fff;
$mobile-button-height: 24px;
$mobile-button-width: 28px;

$link-color: $primary-color !default;
$link-color-dark: darken($link-color, 10%) !default;
$link-color-light: lighten($link-color, 10%) !default;
