---
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";
import "../styles/theme.scss";
// import "../styles/global.css";
import Head from "../components/Head.astro";

interface Props {
  bodyClass?: string;
}

const {
  bodyClass = "header-dark header-transparent header-fixed header-animated",
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <Head />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class={bodyClass}>
    <div id="page-wrapper">
      <Header client:visible />
      <main><slot /></main>
    </div>
    <Footer client:visible />
  </body>
</html>
