---
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";
import "../styles/theme.scss";
// import "../styles/global.css";
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <Head />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div id="page-wrapper">
      <Header />
      <main><slot /></main>
    </div>
    <Footer client:visible />
  </body>
</html>
